<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>INF6903: Projet de ma&icirc;trise en ing&eacute;nierie III</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- =======================================================
        * Template Name: OnePage
        * Updated: May 30 2023 with Bootstrap v5.3.0
        * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center justify-content-between">

                <h1 class="logo"><a href="/">INF6903</a></h1>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#portfolio">Uploads</a></li>
                        <li><a class="nav-link" href="/download_client/">Download client</a></li>
                        <li><a class="nav-link scrollto" href="#upload-recordings">Upload recordings</a></li>
                        <li><a class="nav-link scrollto" href="#help">Help</a></li>
                        <li><a class="nav-link scrollto" href="#edit-account">Edit account</a></li>
                        <li><a class="btnlogin" href="/log_out/">Logout</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section style="height: 18vh" id="hero" class="d-flex align-items-center">
            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <h1 style="font-size: 20px; line-height: normal;">Projet de maîtrise en ingénierie III</h1>
                        <h2 style="font-size: 15px;">Soumissionnaire intelligent de solutions logicielles pour application de processus d’affaires</h2>
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= Uploads Section ======= -->
            <section id="portfolio" class="portfolio section-bg">
                <div class="container" data-aos="fade-up">
  
                    <div class="section-title">
                        <h2>Uploads</h2>
                        {% if not recordings %}
                            <p>There is no upload related with your account, please download the recorder and/or upload your recording(s).</p>
                        {% endif %}
                    </div>

                    {% if not recordings %}
                        <div class="text-center">
                            <a href="/download_client/" class="btn-download-client">Download client</a>
                            <a href="#upload-recordings" class="btn-upload-recordings scrollto">Upload recordings</a>
                        </div>
                    {% else %}
                        {% if requests %}
                            <div class="row" data-aos="fade-up" data-aos-delay="150">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <ul id="portfolio-flters">
                                        <li data-filter="*" class="filter-recordings filter-active">All recordings</li>
                                        {% for request in requests %}
                                            <li class="filter-request" data-filter=".filter-request{{ request.id }}">Request #{{ request.id }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
                            {% for recording in recordings %}
                                <div class="col-lg-4 col-md-6 portfolio-item{% for request in recording.requests.all %} filter-request{{ request.id }}{% endfor %}" recording="{{ recording.id }}" selected="false">
                                    <div class="portfolio-wrap">
                                        <video width="100%" src="{% static recording.id %}.mp4" type="video/mp4"></video>
                                        <div class="portfolio-info">
                                            <h4>{{ recording.title|default_if_none:recording.id }}</h4>
                                            <p>Recording</p>
                                            <div class="portfolio-links">
                                                {% if account.type == 'requester' %}
                                                    <a href="#" title="Select"><i class="bx bx-pointer"></i></a>
                                                {% endif %}
                                                <a href="{% static recording.id %}.mp4" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-play"></i></a>
                                                <a href="/view_recording/{{ recording.id }}" title="Details"><i class="bx bx-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if account.type == 'requester' %}
                            <div class="text-center">
                                <script>function getCsrfToken() { return '{{ csrf_token }}' };</script>
                                <a href="#" class="btn-create-request btn-request-hidden">Create request</a>
                                <a href="#" class="btn-view-request btn-request-hidden">View request details</a>
                                <a href="#" class="btn-delete-request btn-request-hidden">Delete request</a>
                            </div>
                            <div class="my-3 col-12">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </section><!-- End Uploads Section -->

            <!-- ======= Upload recording Section ======= -->
            <section id="upload-recordings" class="upload-recordings">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Upload recordings</h2>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 mt-5 mt-lg-0">

                            <form action="/upload_recordings/" method="post" role="form" class="upload-recordings-form">
                                {% csrf_token %}
                                <div class="row gy-2 gx-md-2">
                                    <div class="form-group col-md-11">
                                        <label for="rec_files" class="form-control input-file-label">Select recording(s) to upload</label>
                                        <input type="file" class="form-control input-file" name="rec_files" id="rec_files" accept=".zip" required multiple>
                                    </div>
                                    <div class="text-center col-md-1"><button type="submit">Submit</button></div>
                                    <div class="my-3 col-12">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="success-message">Your recording(s) have been uploaded! They should appear in your dashboard in less than 1 hour.</div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </section><!-- Upload recording Section -->

            <!-- ======= Help Section ======= -->
            <section id="help" class="help section-bg">
                <div class="container" data-aos="fade-up">
  
                    <div class="section-title">
                        <h2>Help</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>
  
                    <div class="help-list">
                        <ul>
                            <li data-aos="fade-up">
                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#help-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="help-list-1" class="collapse show" data-bs-parent=".help-list">
                                    <p>
                                        Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                                    </p>
                                </div>
                            </li>
  
                            <li data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#help-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="help-list-2" class="collapse" data-bs-parent=".help-list">
                                    <p>
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </p>
                                </div>
                            </li>
  
                        </ul>
                    </div>
  
                </div>
            </section><!-- End Help Section -->

            <!-- ======= Edit account Section ======= -->
            <section id="edit-account" class="edit-account">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Edit account</h2>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 mt-5 mt-lg-0">

                            <form action="/edit_account/{{ account.username }}/" method="post" role="form" class="edit-account-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row gy-2 gx-md-2">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{{ account.username }}" disabled>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{ account.email }}" required>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="password" name="password1" class="form-control" id="password1" placeholder="Password">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Password confirmation">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="company" class="form-control" id="company" placeholder="Company" value="{{ account.company }}" required>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <select class="form-control" name="type" id="type" disabled>
                                            <option value="" class="select-placeholder" disabled>Type of account</option>
                                            <option value="provider" {% if account.type == 'provider' %}selected{% endif %}>Provider</option>
                                            <option value="requester" {% if account.type == 'requester' %}selected{% endif %}>Requester</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="logo" class="form-control input-file-label">Select logo image</label>
                                        <input type="file" class="form-control input-file" name="logo" id="logo" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
                                    </div>
                                    <div class="form-group col-{% if account.logo == None %}12{% else %}9{% endif %}">
                                        <textarea class="form-control" name="summary" rows="5" placeholder="Summary">{{ account.summary }}</textarea>
                                    </div>
                                    {% if account.logo != None %}
                                        <div class="form-group col-3">
                                            <img style="width: 100%" src="{% static account.logo %}"/>
                                        </div>
                                    {% endif %}
                                    <div class="my-3 col-12">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="success-message">Your account has been updated.</div>
                                    </div>
                                    <div class="text-center col-12"><button type="submit">Submit</button></div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </section><!-- End Register Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="container d-md-flex py-4">

                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Polytechnique Montr&eacute;al</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </footer><!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        
        <!-- Forms submission JS file -->
        <script src="{% static 'js/forms.js' %}"></script>

        <!-- Dynamic behaviors for uploads display -->
        <script src="{% static 'js/uploads.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>