<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>INF6903: Projet de ma&icirc;trise en ing&eacute;nierie III</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- =======================================================
        * Template Name: OnePage
        * Updated: May 30 2023 with Bootstrap v5.3.0
        * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center justify-content-between">

                <h1 class="logo"><a href="/">INF6903</a></h1>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#portfolio">Uploads</a></li>
                        <li><a class="nav-link" href="/download_client/">Download client</a></li>
                        <li><a class="nav-link scrollto" href="#upload-recordings">Upload recordings</a></li>
                        <li><a class="nav-link scrollto" href="#help">Help</a></li>
                        <li><a class="nav-link scrollto" href="#edit-account">Edit account</a></li>
                        <li><a class="btnlogin" href="/log_out/">Logout</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Account Details</h2>
                        <ol>
                            <li><a href="/">Home</a></li>
                            <li><a href="{{ referer }}">{% if 'view_recording' in referer %}Recording{% else %}Request{% endif %} details</a></li>
                            <li>Account Details</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->

            <!-- ======= Recording Details Section ======= -->
            <section id="account-details" class="account-details">
                <div class="container">

                    <div class="row gy-4">

                        <div class="col-lg-4">
                            <div class="account-info">
                                <h3>Account information</h3>
                                <ul>
                                    <li><strong>Username</strong>: {{ account.username }}</li>
                                    <li><strong>Email</strong>: {{ account.email }}</li>
                                    <li><strong>Type</strong>: {{ account.type }}</li>
                                    <li><strong>Company</strong>: {{ account.company }}</li>
                                    <li><strong>Recordings count</strong>: {{ account.recordings.all|length }}</li>
                                    {% if account.type == 'requester' %}
                                    <li><strong>Requests count</strong>: {{ account.requests.all|length }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="account-description">
                                <h2>Summary</h2>
                                <p>{{ account.summary }}</p>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <img src="{% static account.logo %}" />
                        </div>

                    </div>

                </div>
            </section><!-- End Account Details Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="container d-md-flex py-4">

                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Polytechnique Montr&eacute;al</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </footer><!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        
        <!-- Forms submission JS file -->
        <script src="{% static 'js/forms.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>